@import 'tailwindcss/theme' layer(theme);

@import 'tailwindcss/preflight' layer(base);

@layer base {
  :root {
    --brand: var(--hue) 80% 45%;
    --brand-foreground: var(--hue) 80% 100%;
    --background: var(--bg-light);
    --foreground: var(--hue) 4% 3.9%;
    --card: var(--hue) 4% 99.8%;
    --card-foreground: var(--hue) 4% 3.9%;
    --muted: var(--hue) 4% 84%;
    --muted-foreground: var(--hue) 3% 50%;
    --border: var(--hue) 4% 89%;
    --ring: var(--hue) 70% 45.1%;
  }

  .dark {
    --brand: var(--hue) 70% 45%;
    --brand-foreground: var(--hue) 80% 100%;
    --background: var(--bg-dark);
    --foreground: var(--hue) 4% 98%;
    --card: var(--hue) 4% 2.5%;
    --card-foreground: var(--hue) 4% 98%;
    --muted: var(--hue) 4% 15.9%;
    --muted-foreground: var(--hue) 3% 46%;
    --border: var(--hue) 8% 12%;
    --ring: var(--hue) 70% 63.9%;
  }
}
