.pillar {
	@apply relative flex flex-col items-start gap-4 rounded-[--radius] bg-card/70 p-4 text-card-foreground shadow-lg shadow-black/5 backdrop-blur-lg md:flex-row-reverse md:p-6;

	& > div {
		flex: 1;
	}

	&:hover {
		a {
			@apply underline;
		}
	}

	svg {
		/* @apply text-muted; */
	}
	h3 {
		@apply relative z-10 mb-4 text-lg font-light !leading-tight tracking-tighter text-brand md:text-xl;
	}
	p {
		@apply relative z-10 max-w-sm text-balance text-xs !leading-normal md:text-sm;
	}
}

.glow {
	&:after {
		@apply pointer-events-none absolute -inset-px z-10 bg-gradient-to-b from-border to-border/50 opacity-80 content-[''] p-mask-px;

		border-radius: calc(var(--radius) + 1px);
		background: radial-gradient(
			circle at calc(var(--mx) * 1px) calc(var(--my) * 1px),
			hsl(var(--brand) / 100%),
			transparent 30vmin
		);
		background-attachment: fixed;
	}
}
